html{
  font-size: 15px;
}

#textBox{
  width: 20rem;
  height: 25rem;
  background-color: rgb(233, 233, 233);
  border:solid, 0.1rem, rgb(227, 220, 220);
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

#inputDiv{
  margin-left: 2rem;
  width: 20rem;
  height: 5rem;
}

input[type=text]{
width:15.5rem;
}

input[type=submit]{
  width:4rem;
  float: right;
}
